@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


body{
    background-color: black;
}
.imagenDefondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}
.header_video{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav_header{
    display: flex;
    padding-top: 0.5rem;
    margin-right: 29rem;
}
.nav_header ul{
    padding: 0;
    list-style: none;
    display: flex;
}
.nav_header ul li{
    font-family: 'raleway';
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
}
.nav_header ul li a{
    color: antiquewhite;
    text-decoration: none;
}
.nav_header ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.nav_header ul .aqui{
    color: rgb(180, 180, 180);
    text-decoration: underline;
}
.logo{
    display: flex;
    padding-left: 8rem;
    padding-top: 2.3rem;
}
img{
    height: 6rem;
    width: 10rem;
}
.logo-menu{
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.articulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-18rem);
}
.nav-mobile{
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}
.nav-mobile li a{
    font-size: 2.4rem;
    color: #ffffff;
    margin-top: 2rem;
    text-decoration: none;
}
.bio{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.text-bio{
    margin: 0;
    transform: translateY(-30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.text-bio p{
    font-family: 'Oswald';
    max-width: 55rem;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 10px;
}
.text-bio span{
    font-family: 'Oswald';
    font-size: 18px;
}
.redes_sociales{
    transform: translateY(34rem);
    padding: 0;
    gap: 1rem;
    display: flex;
    list-style: none;
    justify-content: center;
}
.redes_sociales ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.redes_sociales i{
    font-size: 1.6rem;
    color: aliceblue;
    transition: 0.5s;
}
.redes_sociales i:hover{
    -webkit-text-stroke: 1px #ffffffce;
    font-size: 2rem;
}
.footer{    
    margin-top: rem;
    display: flex;
    justify-content: center;
}
.content-footer{
    padding-top: 6px;
}
.footer p{
    margin: 0;
    font-size: 8px;
    color: white;
    font-family: cinematografica;
    font-weight: bold;
}
.footer span{
    font-size: 15px;
}
@media only screen and (min-width: 800px) and (max-width: 1400px) {
    .header_video{
        display: flex;
        align-items: center;
    }
    .nav_header{
        margin: 0;
    }
    .nav_header ul{
        padding: 0;
    }
    .nav_header ul li{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .logo{
        padding-left: 0;
    }
    .redes_sociales i{
        font-size: 2rem;
    }
    .redes_sociales{
        gap: 1.5rem;
        transform: translateY(40rem);
    }
    /* Puedes agregar más estilos específicos para pantallas medianas aquí */
}
@media only screen and (min-width: 300px) and (max-width:800px){
    .nav_header{
        display: none;
    }
    .logo{
        padding-left: 0;
        padding-right: 1rem;
    }
    .logo img{
        height: 60px;
        width: 100px;
    }
    .logo-menu{
        display: flex;  
        padding-top: 1rem;
        transform: translatex(20%);
        
    }
    .logo-menu i{
        font-size: 2rem;
        color: #ffffff;
        transition: all 1s;
    }
    .redes_sociales{
        transform: translateY(-19rem);
        align-items: center;
        gap: 1.5rem;
    }
    .redes_sociales i{
        font-size: 2.8rem;
    }
    .text-bio p{
        max-width: 20rem;
        font-size: 12px;
    }
    .text-bio span{
        font-size: 18px;
    }
    .footer{
        display: none;
    }

}
