@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body{
    background-color: black;
}
.header_video{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav_header{
    display: flex;
    padding-top: 0.5rem;
    margin-right: 16.8rem;
}
.nav_header ul{
    padding: 0;
    list-style: none;
    display: flex;
}
.nav_header ul li{
    font-family: 'raleway';
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: antiquewhite;
}
.nav_header ul li a{
    color: antiquewhite;
    text-decoration: none;
}
.nav_header ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.logo{
    display: flex;
    padding-left: 5rem;
    padding-top: 1.5rem;
}
.logo-menu{
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.articulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(1px);
}
.nav-mobile{
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}
.nav-mobile li a{
    font-size: 2.4rem;
    color: #ffffff;
    margin-top: 2rem;
    text-decoration: none;
}
img{
    height: 7rem;
    width: 13rem;
}
.redes_sociales{
    padding: 0;
    position: relative;
    transform: translateY(44rem);
    gap: 1rem;
    display: flex;
    list-style: none;
    justify-content: center;
}
.redes_sociales ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.redes_sociales i{
    font-size: 1.6rem;
    color: aliceblue;
    transition: 0.5s;
}
.redes_sociales i:hover{
    -webkit-text-stroke: 1px #ffffffce;
    font-size: 2rem;
}
.galeria{
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
}
.galeria img{
    padding: 0.2rem;
    height: 42rem;
    width: 70rem;
}
.text-img{
    width: auto;
    height: auto;
    position: relative;
    text-align: center; /* Centra horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galeria .tex-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    margin: 0;
}
.tex-video h4{
    font-size: 2.6rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #000000;
}
@media only screen and (min-width: 800px) and (max-width: 1400px) {
    .header_video{
        display: flex;
        align-items: center;
    }
    .nav_header{
        margin: 0;
    }
    .nav_header ul{
        padding: 0;
    }
    .nav_header ul li{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .logo{
        padding-left: 0;
    }
    .redes_sociales i{
        font-size: 2rem;
    }
    .redes_sociales{
        gap: 1.5rem;
        transform: translateY(40rem);
    }
    /* Puedes agregar más estilos específicos para pantallas medianas aquí */
}
@media only screen and (min-width: 300px) and (max-width:800px){
    .nav_header{
        display: none;
    }
    .logo{
        padding-left: 0;
        padding-right: 1rem;
    }
    .logo img{
        height: 60px;
        width: 120px;
    }
    .logo-menu{
        display: flex;  
        padding-top: 1rem;
        padding-left: 1rem;
        transform: translatex(20%);
        
    }
    .logo-menu span{
        font-size: 3rem;
        color: #ffffff;
        transition: all 2s;
    }
    .redes_sociales{
        align-items: center;
        gap: 1.5rem;
        transform: translateY(-1rem);
    }
    .redes_sociales i{
        font-size: 2.8rem;
    }
    
    .galeria img{
        padding: 0;
        height: 22rem;
        width: 32rem;
    }
    .tex-video h4{
        font-size: 1.6rem;
    }
}
