@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body{
    background-color: black;
}
.header_video{
    display: flex;
    justify-content: space-between;
}
.nav_header{
    display: flex;
    padding-top: 0.5rem;
    margin-right: 30rem;
}
.nav_header ul{
    list-style: none;
    display: flex;
}
.nav_header ul li{
    font-family: 'raleway';
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: antiquewhite;
}
.nav_header ul li a{
    color: antiquewhite;
    text-decoration: none;
}
.nav_header ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.logo{
    display: flex;
    padding-left: 5rem;
    padding-top: 1.5rem;
}
img{
    height: 7rem;
    width: 13rem;
}
.redes_sociales{
    position: relative;
    transform: translateY(44rem);
    gap: 1rem;
    display: flex;
    list-style: none;
    justify-content: center;
}
.redes_sociales ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.redes_sociales i{
    font-size: 2rem;
    color: aliceblue;
    transition: 0.5s;
}
.redes_sociales i:hover{
    -webkit-text-stroke: 1px #ffffffce;
    font-size: 2.9rem;
}
.galeria{
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
}
.galeria img{
    padding: 0.2rem;
    height: 35rem;
    width: 70rem;
}
.text-img{
    width: auto;
    height: auto;
    position: relative;
    text-align: center; /* Centra horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galeria .tex-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    margin: 0;
}
.tex-video h4{
    font-size: 2rem;
    color: aliceblue;
}
.tex-video h4:hover{
    -webkit-text-stroke: 1px #ffffffce;
}